<!--<h1>Editing product</h1>-->
<h1><%= t 'views.product.edit.title' %></h1>



<%= render 'form' %>

<!--<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
-->

<%= link_to I18n.t('views.show'), @product %> |
<%= link_to I18n.t('views.back'), products_path %>
