<!--<h1>Listing products</h1>-->
<h1><%= t 'views.product.index.listing_products' %></h1>



<table>
  <tr>
<!--<th>Name</th>
    <th>Description</th>
    <th>Price</th>
-->
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= Product.human_attribute_name(:description) %></th>
    <th><%= Product.human_attribute_name(:price) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
<!--
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
    <td><%= link_to I18n.t('views.show'), product %></td>
    <td><%= link_to I18n.t('views.edit'), edit_product_path(product) %></td>
    <td><%= link_to I18n.t('views.destroy'), product, confirm: I18n.t('views.are_you_sure'), method: :delete %></td>

  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Product', new_product_path %>-->
<%= link_to I18n.t('views.product.index.new_product'), new_product_path %>
