<p id="notice"><%= notice %></p>

<p>
<!--  <b>Name:</b>  -->
  <b><%= Product.human_attribute_name(:name) %>:</b>
  <%= @product.name %>
</p>

<p>
<!--  <b>Description:</b> -->
  <b><%= Product.human_attribute_name(:description) %>:</b>
  <%= @product.description %>
</p>

<p>
<!--  <b>Price:</b> -->
  <b><%= Product.human_attribute_name(:price) %>:</b>
  <%= @product.price %>
</p>

<!--
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
-->
<%= link_to I18n.t('views.edit'), edit_product_path(@product) %> |
<%= link_to I18n.t('views.back'), products_path %>