<!DOCTYPE html>
<html>
<head>
  <title>Ejemplo2_i18n</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
  |
  <%= link_to_unless I18n.locale == :de, "Deutsch", locale: :de %>
</p>

<%= yield %>

</body>
</html>